<footer id="contact" class="contact-section border-top">
    <div class="contact-section-header">
    
      <p class='h3'>IDOL Restaurant</p>
      <!-- <p class='h6'><em>web developer enthusiast</em></p>  -->
    </div>
    <!-- <div class="contact-links border-top">
      <a
        href="https://codepen.io/sdfadigas"
        target="_blank"
        class="btn text-white contact-details">
      <i class="fa-brands fa-codepen"></i> Codepen</a
      >
      <a
        id="profile-link"
        href="https://github.com/sdfadigas"
        target="_blank"
        class="btn text-white contact-details"
        ><i class="fab fa-github"></i> GitHub</a
      >
      <a
        href="https://twitter.com/oxesasa"
        target="_blank"
        class="btn text-white contact-details"
        ><i class="fab fa-twitter"></i> Twitter</a
      >
      <a
        href="https://instagram.com/samara.srd"
        target="_blank"
        class="btn text-white contact-details"
        ><i class="fa-brands fa-instagram"></i> Instagram</a
      >
      <a href="mailto:sdfadigas@gmail.com" class="btn text-white contact-details" 
        ><i class="fas fa-at"></i> Me escreva</a
      >
      <a href="https://wa.me/5548991077107" class="btn text-white contact-details"
        ><i class="fa-brands fa-whatsapp"></i> Me ligue</a
      >
    </div> -->
    </footer>