<app-header></app-header>
<div class="carousel slide carousel-fade carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
          <a href="#"> 
        <img class="d-block w-100" src="assets/Food-Facebook-Cover-Banner-08.jpg" alt="promoção">
      </a>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
          <a href="#"> 
        <img class="d-block w-100" src="assets/5753403.jpg" alt="Segundo Slide">
        </a> 
      </div>
      <div class="carousel-item" data-bs-interval="5000">
          <a href="#"> 
        <img class="d-block w-100" src="assets/food_web_banner_31.jpg" alt="Terceiro Slide">
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    </a>
  </div>
  <section id="menu">
    <section id="cardapio" class="menu">
     <div class="container overflow-auto">
       <div class="section-title">
         <h2 class="text-center text-white"><span>Menu</span></h2>
       </div>
       <div class="row menu-container">
         <div class="col-lg-6 menu-item filter-starters">
           <div class="menu-content">
             <a href="#peca-agora">Medu Vada</a><span>&#8377;25</span>
           </div>
           <div class="menu-ingredients">
            Sunny Vishwakarma ingredientes, etc, ingredientes, etc,ingredientes, etc
           </div>
         </div>

         <div class="col-lg-6 menu-item filter-specialty">
           <div class="menu-content">
             <a href="#peca-agora">Masala Dosa</a><span>&#8377;25</span>
           </div>
           <div class="menu-ingredients">
             ingredientes, etc, ingredientes, etc,ingredientes, etc
           </div>
         </div>

         <div class="col-lg-6 menu-item filter-starters">
           <div class="menu-content">
             <a href="#peca-agora">Burger</a><span>&#8377;50</span>
           </div>
           <div class="menu-ingredients">
            ingredientes, etc, ingredientes, etc,ingredientes, etc
           </div>
         </div>

         <div class="col-lg-6 menu-item filter-salads">
           <div class="menu-content">
             <a href="#peca-agora">Pizza</a><span>&#8377;60</span>
           </div>
           <div class="menu-ingredients">
             ingredientes, etc, ingredientes, etc,ingredientes, etc
           </div>
         </div>

         <div class="col-lg-6 menu-item filter-specialty">
           <div class="menu-content">
             <a href="#peca-agora">Samosa</a><span>&#8377;30</span>
           </div>
           <div class="menu-ingredients">
             ingredientes, etc, ingredientes, etc,ingredientes, etc
           </div>
         </div>

         <div class="col-lg-6 menu-item filter-starters">
           <div class="menu-content">
             <a href="#peca-agora">Sandwich</a><span>&#8377;40</span>
           </div>
           <div class="menu-ingredients">
            ingredientes, etc, ingredientes, etc,ingredientes, etc
           </div>
         </div>

         <div class="col-lg-6 menu-item filter-salads">
           <div class="menu-content">
             <a href="#peca-agora">Poha</a><span>&#8377;20</span>
           </div>
           <div class="menu-ingredients">
            ingredientes, etc, ingredientes, etc,ingredientes, etc
           </div>
         </div>

         <div class="col-lg-6 menu-item filter-salads">
           <div class="menu-content">
             <a href="#peca-agora">Misal Pav</a><span>&#8377;30</span>
           </div>
           <div class="menu-ingredients">
             ingredientes, etc, ingredientes, etc,ingredientes, etc
           </div>
         </div>

         <div class="col-lg-6 menu-item filter-specialty">
           <div class="menu-content">
             <a href="#peca-agora">Upma</a><span>&#8377;25</span>
           </div>
           <div class="menu-ingredients">
             ingredientes, etc, ingredientes, etc,ingredientes, etc
           </div>
         </div>
         <div class="col-lg-6 menu-item filter-specialty">
          <div class="menu-content">
            <a href="#peca-agora">Idli</a><span>&#8377;25</span>
          </div>
          <div class="menu-ingredients">
            ingredientes, etc, ingredientes, etc,ingredientes, etc 
          </div>
        </div>
       </div>
     </div>
   </section>
   <section id='quem-somos'>
    <div class="container">
      <div class="section-title text-center text-white">
        <h2>About Us</h2>
        <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
     
</div>
       <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class='place'>
            <div class="pic"><img src="https://i.ibb.co/vZbhf8g/2.png" class="img-fluid" alt="pizza-camarao">
              <div class="overlay">
                <div class="subtitle">nossas pizzas</div>
                </div>
            </div>      
          </div>
         </div>
           <div class="col-lg-4 col-md-6">
          <div class='place'>
            <div class="pic"><img src="https://i.ibb.co/Z6XGRmj/3.png" class="img-fluid" alt="menu-e-vinho">
               <div class="overlay">
                <div class="subtitle">nosso espaço</div>
                </div>
            </div>
          </div>
         </div>
           <div class="col-lg-4 col-md-6">
          <div class='place'>
            <div class="pic"><img src="https://i.ibb.co/HqK3ks3/1.png" class="img-fluid" alt="clientes">
               <div class="overlay">
                <div class="subtitle">nossos clientes</div>
                </div>
            </div>
          </div>
         </div>
      </div>
    </div>
</section>
<section id='contato'>
    <div class='text-center text-white contato'>
      <h2>CONTACT US</h2><br>
    </div>
       <div class="container">
        <div class="row">
          <div class="col-12 col-md-5 text-end text-white  pt-0">
            <div class='title-contato'><h3>Addrerss<br></h3><p>IDOL Restaurant</p></div>
           <br><p>IDOL Restaurant Vidyanagari Santacruz<br>8850740912</p>
            <div class='social-icons h3'>
            <a href='#'><i class="fa-brands fa-whatsapp"></i></a>
            <a href='#'><i class="fa-brands fa-instagram"></i></a>
            <a href='#'><i class="fa-brands fa-facebook"></i></a>
            </div>
          </div>
          
              <div class="col-12 col-md-5 mb-5 mb-md-0">
             
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.786124396642!2d72.85634801490544!3d19.073138857018755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8ff00000001%3A0xb85c8ceadc6a8bc2!2sInstitute%20of%20Distance%20and%20Open%20Learning!5e0!3m2!1sen!2sin!4v1657033752803!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
      </div>
      <app-footer></app-footer>
  